{% extends 'website/base.html' %}
{% block title %} Twitter Sentiment Analysis {% endblock%}
{% block content %}
	<br/>
	<div class="thumbnail container " style="background-color:lightsilver; ">
	<h3 align="center">Cluster and Cloud Computing(COMP90024)<br/>Twitter Sentiment Analysis<br/></h3>
<h3 align="center"> About </h3>
<h4 align="center" style="padding:20px">
<center>
<pre>
		A human behaving excessively or abusing its natural desires or habits in coined as sins. The purpose of the assignment is to 
		explore one or more deadly sins, which are pride, greed, lust, envy, lust, gluttony, wrath and sloth and analysis these sins 
		through social media data analysis. The sins analysed for our project and story are pride, greed, envy and wrath. We try to 
		present these sins by building our story around immigration status in Australian cities. The movement of people into a 
		non-native destination country with the purpose of employment and/or settlement is termed as immigration. In 2018, Australian
		Bureau of Statistics clocked a population of 25 million, with immigration constituting 62% in the last decade, which was 33 years
		ahead of the schedule. Foreign residents can move to Australia to attain better employment, which can be associated to greed as
		Australia’s employment rate increases to 0.8% annual with immigration as compared to 0.2% without immigration. Whereas due to the 
		increasing immigration population, issues such as traffic, overpopulation and effects on housing prices can generate hatred amongst
		australian natives due to lack of jobs, road conjunction and affordability of houses, which can result in wrath and envy against 
		the immigrants. Australia’s unemployment rate rose from 4.5% to 5.6% in 2017, unemployment rate rising by 4.6% over the past 5 years,
		housing pricing boosted by 412%.
		These aspects will be analysed by building a cloud based solution on UniMelb’s NeCTAR Research Cloud in order to harvest data
		from twitter and analysis the relation between the sins and immigration status in Australian cities - Adelaide, Brisbane, Canberra,
		Melbourne, Perth and Sydney. The story for the assignment is divided into three scenarios which analyse the sins pertaining to the
		scenario. The scenarios are: Is immigration an issue in Australia and are overseas population travelling to Australia due to pride
		and/or greed? What effects is immigration having on Australian citizens in terms of traffic, housing affordability and jobs
		Is there wrath and/or envy among the Australian residents towards the immigrant population.
		What is the general attitude of public, media and/or politicians towards immigration.
		
		Scenarios are segregated into one of the following - data (out of the gathered data what amount is constituted towards the scenario),
		trend (out of the constituted data what is the nature and type of the tweet - positive or negative) and profile (politicians, media 
		and/or public mentioning these scenarios).
</pre>
</center></h4>
	</div>
{% endblock %}