{% extends 'website/base.html' %}
{% block title %} Twitter Sentiment Analysis {% endblock%}
{% block content %}

	<br/>
	<div class="thumbnail container" style="background-color:lightsilver;">
		<div   style = " width:600px" >
            <h3 align="center">Cluster and Cloud Computing (COMP90024)<br/> Assignment 2 - Twitter Sentiment Analysis<br/>
            </h3>
<br/>
<h4 align="left" style="padding-left:20px">Australia is one of the most beautiful countries in the world and there are so many fun, amazing facts about it.</h4>
<h1 align="center"> Coming Soon..... </h1>
<br/> 
<p><a href="{%url 'scenario1'%}">Scenario 1:</a> Does the tweet percentage of a city correlate with it's youth population?</p>
<p><a href="{%url 'scenario2'%}">Scenario 2:</a> Do the diffrent languages used in tweets determine the different cultures of the city?</p>
<p><a href="{%url 'scenario3'%}">Scenario 3:</a> Are happy people wealthy?(Happiness=Wealth?)</p>

		</div>
	</div>
{% endblock %}