{% extends 'website/base.html' %}
{% block title %} Twitter Sentiment Analysis {% endblock%}
{% block content %}

	<br/>
	<div class="thumbnail container" style="background-color:lightsilver;">
		
		<div>
			<center>
            <h3 align="center">Cluster and Cloud Computing (COMP90024)<br/>Twitter Sentiment Analysis<br/>
            </h3>
<br/>
<h4 align="center" style="padding-left:20px">Australia is one of the most beautiful countries in the world and there are so many fun, amazing facts about it.</h4>
<h1 align="center"> Coming Soon..... </h1>
<br/> 
<p><a href="{%url 'trend'%}">Scenario 1: Trend Analysis</a>Is immigration an issue in Australia and are overseas population travelling to Australia due to pride and/or greed?</p>
<p><a href="{%url 'content'%}">Scenario 2: Content Analysis</a> What effects is immigration having on Australian citizens in terms of traffic, housing affordability and jobs? </p>
<p><a href="{%url 'profile'%}">Scenario 3: Profile Analysis</a> Is there wrath and/or envy among the Australian residents towards the immigrant population?</p>
</center>
		</div>
	</div>
{% endblock %}