{% extends 'website/base.html' %}
{% block title %} Twitter Sentiment Analysis {% endblock%}
{% block content %}

<br/>
	<div class="thumbnail container" style="background-color:lightsilver;">
		<div>
			<center>
            <h3 align="center">Cluster and Cloud Computing (COMP90024)<br/>Twitter Sentiment Analysis: Immigration in Australia cities - The Truth<br/>
            </h3>
<br/>

{% load static %}
<img src="{% static "home.jpg" %}" height="600" width="1000"/>
<h3> <small>image source: https://mccrindle.com.au/insights/blogarchive/the-rise-and-rise-of-australias-population/</small></h3>
<h1></h1>
<br/> 
</center>
<p><a href="{%url 'trend'%}">Scenario 1: Trend Analysis</a>Is immigration an issue in Australia and are overseas population travelling to Australia due to pride and/or greed?</p>
<p><a href="{%url 'content'%}">Scenario 2: Content Analysis</a> What effects is immigration having on Australian citizens in terms of traffic, housing affordability and jobs? </p>
<p><a href="{%url 'profile'%}">Scenario 3: Profile Analysis</a> Is there wrath and/or envy among the Australian residents towards the immigrant population?</p>

</div>
</div>

{% endblock %}