{% extends 'website/base.html' %}
{% block title %} Twitter Sentiment Analysis {% endblock%}
{% block content %}

	<br/>
	<div class="thumbnail container " style="background-color:lightsilver;  border-style: solid; border-width: 5px;">
			<h3 align="center">Cluster and Cloud Computing(COMP90024)<br/>
Immigration In Australia : The TRUTH<br/></h3>
<h3> Team Members:</h3>
		<div  align="center">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Student Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Email Id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>1040446</td>
        <td>Maria Vij Rashmi</td>
        <td>mariavijiras@student.unimelb.edu.au </td>
    </tr>
    <tr>
      <td>1012820 </td>
      <td>Avijit Chauhan</td>
      <td>avijitc@student.unimelb.edu.au</td>
    </tr>
    <tr>
      <td>990190 </td>
      <td>Harshit Sethi</td>
      <td>sethih@student.unimelb.edu.au</td>
    </tr>
    <tr>
      <td>1007845 </td>
      <td>Karan Bansal</td>
      <td>kbban@student.unimelb.edu.au </td>
    </tr>
    <tr>
        <td>1017194</td>
        <td>Srijan Chaudhary</td>
        <td>srijanc@student.unimelb.edu.au </td>
          </tr>
  </tbody>
</table>
						
			
		</div>
	</div>

{% endblock %}